section.section2 {
    position: relative;
    padding-bottom: 250px;
    padding-top: 250px;
    background-color: white;
    pointer-events: all;
    .wrapper {
        display: flex;
        width: 100%;
        flex-direction: row;
        padding-bottom: 80px;
    }

    .wrapper-left {
        width: 50%;
        position: relative;
        padding-right: 20px;
        display: flex;
        justify-content: center;
        pointer-events: none;
    }

    .wrapper-right {
        width: 50%;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .title {
        margin-bottom: 30px;
    }

    .description {
        max-width: 500px;
        margin-bottom: 60px;

        p {
            font-style: italic;
        }
    }

    ul {
        padding-left: 30px;
        li {
            position: relative;
            padding-left: calc(24px + 20px);

            &:not(:last-child) {
                margin-bottom: 30px;
            }

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }

            p {
                font-style: italic;
            }

            &.plage {
                &::before {
                    width: 26px;
                    height: 20px;
                    background-image: url("data:image/svg+xml,%3Csvg width='26' height='20' viewBox='0 0 27 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.5032 1.253C17.2727 0.33745 19.2665 0.147052 21.0916 0.739438C22.9167 1.33183 24.4186 2.65686 25.3131 4.43712C26.2066 6.21523 26.4321 8.32117 25.962 10.3443C25.924 10.508 25.8191 10.6482 25.6728 10.7309C25.5265 10.8136 25.3522 10.8311 25.1924 10.7792L19.105 8.80338L16.2287 17.6649C16.2272 17.6696 16.2256 17.6743 16.224 17.6789C17.393 17.9464 18.6233 17.7891 19.7202 17.2072C20.7996 16.6344 22.0739 16.6731 23.1204 17.3076L25.3111 18.636C25.5944 18.8078 25.6849 19.1768 25.513 19.4601C25.3412 19.7435 24.9722 19.8339 24.6889 19.6621L22.4982 18.3337C21.8114 17.9172 20.987 17.8935 20.2826 18.2672C18.4279 19.2512 16.2529 19.2512 14.3982 18.2672L14.3358 18.2341C13.6526 17.8716 12.858 17.8716 12.1748 18.2341L12.1219 18.2621C10.2612 19.2494 8.08923 19.3026 6.18791 18.4059L5.92318 18.281C5.09562 17.8907 4.1499 17.9407 3.35834 18.4207L1.31109 19.6621C1.02774 19.8339 0.658759 19.7435 0.486943 19.4601C0.315128 19.1768 0.405543 18.8078 0.688891 18.636L2.73614 17.3946C3.86908 16.7076 5.24052 16.6323 6.43505 17.1957L6.69978 17.3205C8.25786 18.0554 10.0317 18.0127 11.5595 17.2021L11.6124 17.174C12.6473 16.6249 13.8633 16.6249 14.8982 17.174L14.9607 17.2072C15.0048 17.2305 15.049 17.2532 15.0935 17.2753L17.9636 8.4329L11.8762 6.45706C11.7164 6.40518 11.5857 6.28865 11.5158 6.13582C11.4459 5.98299 11.4434 5.80787 11.5087 5.65305C12.3164 3.73947 13.7357 2.16744 15.5032 1.253ZM24.9156 9.42777C25.1462 7.86929 24.9087 6.30497 24.2409 4.97591C23.4819 3.46539 22.2237 2.36853 20.7211 1.88082C19.2185 1.39311 17.556 1.54198 16.0546 2.3188C14.7335 3.0023 13.6225 4.12891 12.8939 5.52574L24.9156 9.42777Z' fill='%233A8480'/%3E%3C/svg%3E%0A");
                }
            }

            &.nautique {
                &::before {
                    width: 26px;
                    height: 26px;
                    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.9999 1.60002C11.343 1.60002 9.9999 2.94317 9.9999 4.60002C9.9999 6.25688 11.343 7.60002 12.9999 7.60002C14.6568 7.60002 15.9999 6.25688 15.9999 4.60002C15.9999 2.94317 14.6568 1.60002 12.9999 1.60002ZM8.7999 4.60002C8.7999 2.28043 10.6803 0.400024 12.9999 0.400024C15.3195 0.400024 17.1999 2.28043 17.1999 4.60002C17.1999 6.71591 15.6353 8.46635 13.5999 8.75749V24.3842C16.4048 24.2365 19.0649 23.0571 21.0609 21.061C23.057 19.065 24.2364 16.4049 24.3841 13.6H21.3999C21.0685 13.6 20.7999 13.3314 20.7999 13C20.7999 12.6687 21.0685 12.4 21.3999 12.4H24.9999C25.3313 12.4 25.5999 12.6687 25.5999 13C25.5999 16.3418 24.2724 19.5466 21.9095 21.9096C19.5465 24.2725 16.3416 25.6 12.9999 25.6C9.65817 25.6 6.45332 24.2725 4.09036 21.9096C1.7274 19.5466 0.399902 16.3418 0.399902 13C0.399902 12.8409 0.463116 12.6883 0.575638 12.5758C0.68816 12.4632 0.840772 12.4 0.999902 12.4H4.5999C4.93127 12.4 5.1999 12.6687 5.1999 13C5.1999 13.3314 4.93127 13.6 4.5999 13.6H1.61569C1.76341 16.4049 2.94282 19.065 4.93889 21.061C6.93495 23.0571 9.59501 24.2365 12.3999 24.3842V8.75749C10.3645 8.46635 8.7999 6.71591 8.7999 4.60002Z' fill='%233A8480'/%3E%3C/svg%3E%0A");
                }
            }

            &.phare {

                &::before {
                    width: 26px;
                    height: 26px;
                    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.39999 4.25124C9.39999 2.58723 10.7109 0.400024 13.5 0.400024C14.8859 0.400024 15.9216 0.987941 16.6018 1.76634C17.2663 2.52672 17.6 3.47779 17.6 4.25124V4.85124H16.6V7.44432H17.6V10.2699L16.6441 10.2699L17.5938 23.6498C18.3228 23.6127 19.0467 23.4155 19.7202 23.0582C20.7996 22.4854 22.0739 22.5241 23.1204 23.1586L25.3111 24.487C25.5944 24.6588 25.6849 25.0278 25.513 25.3111C25.3412 25.5945 24.9722 25.6849 24.6889 25.5131L22.4982 24.1847C21.8114 23.7682 20.987 23.7445 20.2826 24.1182C18.4279 25.1022 16.2529 25.1022 14.3982 24.1182L14.3358 24.0851C13.6526 23.7226 12.858 23.7226 12.1748 24.0851L12.1219 24.1131C10.2612 25.1004 8.08923 25.1536 6.18791 24.2569L5.92318 24.132C5.09562 23.7417 4.1499 23.7917 3.35834 24.2717L1.31109 25.5131C1.02774 25.6849 0.658759 25.5945 0.486943 25.3111C0.315128 25.0278 0.405543 24.6588 0.688891 24.487L2.73614 23.2456C3.86908 22.5586 5.24052 22.4833 6.43505 23.0467L6.69978 23.1715C7.56129 23.5778 8.48876 23.7464 9.40413 23.679L10.3559 10.2699L9.39999 10.2699V7.44432H10.4V4.85124H9.39999V4.25124ZM11.6 4.85124V7.44432H15.4V4.85124H11.6ZM16.3043 3.65124H10.6787C10.9357 2.65174 11.8318 1.60002 13.5 1.60002C14.514 1.60002 15.2284 2.01842 15.6982 2.55598C16 2.90138 16.1978 3.29277 16.3043 3.65124ZM16.4 8.64432H10.6V9.06993L16.4 9.06993V8.64432ZM15.4411 10.2699L11.5589 10.2699L10.6237 23.4451C10.9429 23.3448 11.2561 23.2141 11.5595 23.0531L11.6124 23.025C12.6473 22.4759 13.8633 22.4759 14.8982 23.025L14.9607 23.0582C15.4169 23.3002 15.8962 23.4688 16.3847 23.5639L15.4411 10.2699Z' fill='%233A8480'/%3E%3C/svg%3E%0A");
                }
            }

            &.arbre {
                &::before {
                    left: 3px;
                    width: 21px;
                    height: 25px;
                    background-image: url("data:image/svg+xml,%3Csvg width='21' height='25' viewBox='0 0 21 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.2609 2.10002C6.68415 2.10002 3.84853 5.04333 3.84853 7.99991V8.33884L3.55824 8.51379C1.50753 9.74972 1.12682 12.898 2.96256 15.1176C4.67404 17.1871 7.48198 17.4454 9.6771 16.2835V15.2369L6.56222 11.91C6.33574 11.6681 6.34824 11.2884 6.59014 11.0619C6.83204 10.8354 7.21173 10.8479 7.43821 11.0898L9.6771 13.4812V12.0111C9.67698 12.004 9.67698 11.9969 9.6771 11.9899V8.49991C9.6771 8.16853 9.94573 7.89991 10.2771 7.89991C10.6085 7.89991 10.8771 8.16853 10.8771 8.49991V10.9475L14.1946 8.98359C14.4797 8.81479 14.8477 8.90911 15.0165 9.19426C15.1853 9.47941 15.091 9.84741 14.8059 10.0162L10.8771 12.342V14.9983C10.8771 14.9993 10.8771 15.0003 10.8771 15.0013V16.2929C13.2745 17.6258 16.6048 17.0784 18.4267 14.9977C19.3362 13.9591 19.5677 12.7373 19.2898 11.5797C19.0086 10.4086 18.1977 9.28082 16.9829 8.5057L16.7057 8.32879V7.99991C16.7057 5.04684 13.8414 2.10002 10.2609 2.10002ZM9.6771 17.6098V23.9999C9.6771 24.3313 9.94573 24.5999 10.2771 24.5999C10.6085 24.5999 10.8771 24.3313 10.8771 23.9999V17.6295C13.6968 18.8552 17.2791 18.1298 19.3295 15.7883C20.5075 14.4429 20.8211 12.8176 20.4566 11.2995C20.1181 9.88946 19.202 8.59181 17.8966 7.67383C17.6998 4.12545 14.32 0.900024 10.2609 0.900024C6.20027 0.900024 2.85561 4.12558 2.65778 7.6689C0.0972157 9.46494 -0.0735987 13.3294 2.03783 15.8824C4.02537 18.2856 7.14943 18.6755 9.6771 17.6098Z' fill='%233A8480'/%3E%3C/svg%3E%0A");
                }
            }
        }
    }

    .wrapper-btn {
        margin-top: 60px;
    }

    .hidder-l {
        position: absolute;
        pointer-events: none;
        height: 100%;
        width: 0;
        top: 0;
        bottom: 0;
        left: 0;
        background-color: white;
        z-index: 2;
    }

    .hidder-r {
        position: absolute;
        pointer-events: none;
        height: 100%;
        width: 0;
        top: 0;
        background-color: white;
        bottom: 0;
        right: 0;
        z-index: 2;
    }

    .index {
        position: absolute;
        right: 0;
        pointer-events: none;
        display: flex;
        align-items: center;
        bottom: 0;
        transform: translateY(110%);
        z-index: 3;
        font-size: 20px;
        font-style: italic;

        span {
            margin: 0 10px;
            width: 30px;
            height: 1px;
            background-color: $color2;
        }
    }

    .slider {
        width: 520px;
        height: 700px;
        position: relative;
        pointer-events: none;
        z-index: 1;

        figure {
            position: relative;
            overflow: hidden;
            pointer-events: none;
            width: 100%;
            height: 100%;
        }

        img {
            pointer-events: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    @media all and (max-width: 768px) {

        padding: 50px 0px;

        .wrapper{
            flex-wrap: wrap;
        }

        .title {
            * {
                font-size: 35px;
            }
        }

        .description {
            max-width: 100%;
        }

        .wrapper-left{
            padding: 0;
            width: 100%;
            margin-bottom: 50px;
        }

        ul {
            padding: 0;
        }

        .wrapper-btn{
            margin: 50px auto 0 auto;
        }

        .wrapper-right{
            width: 100%;
            padding: 0;
        }

        .slider {
            width: 100%;
            height: 150px;
        }
    }

}