section.section5 {
    position: relative;
    padding-bottom: 300px;
    padding-top: 300px;
    background-color: white;

    .wrapper {
        display: flex;
        width: 100%;
        flex-direction: row;
        padding-bottom: 80px;
    }

    .wrapper-top {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 150px;

        h2 {
            text-align: center;
            padding-bottom: 15px;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                height: 2px;
                width: 200px;
                background-color: $color1;
            }
        }
    }

    .wrapper-left {
        width: 50%;
        padding-right: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .caracteristique {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    ul {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        &:not(:first-child) {
            margin-left: 30px;
        }

        li {
            margin-bottom: 30px;

            span {
                font-size: 22px;
                font-style: italic;
                position: relative;
                padding-left: 33px;

                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }

                &.frigo {
                    &::before {
                        width: 22px;
                        height: 26px;
                        background-image: url("data:image/svg+xml,%3Csvg width='22' height='26' viewBox='0 0 26 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.9999 0.399902C13.3313 0.399902 13.5999 0.668532 13.5999 0.999902V5.11371L17.7772 3.44282C18.0848 3.31975 18.434 3.4694 18.5571 3.77707C18.6802 4.08474 18.5305 4.43392 18.2228 4.55699L13.5999 6.40615V13.9553L20.154 10.1321L19.5965 5.39275C19.5578 5.06365 19.7932 4.76548 20.1223 4.72677C20.4514 4.68806 20.7496 4.92347 20.7883 5.25257L21.2847 9.47255L24.6977 7.48163C24.9839 7.31467 25.3513 7.41135 25.5183 7.69758C25.6852 7.98381 25.5886 8.3512 25.3023 8.51817L21.839 10.5384L25.2911 13.4032C25.5461 13.6148 25.5812 13.9931 25.3696 14.2481C25.158 14.5031 24.7797 14.5383 24.5247 14.3267L20.7356 11.1821L14.1907 14.9999L20.547 18.7077L24.5193 15.8876C24.7895 15.6958 25.164 15.7594 25.3559 16.0296C25.5477 16.2998 25.4841 16.6743 25.2139 16.8661L21.6849 19.3715L25.3023 21.4816C25.5885 21.6486 25.6852 22.016 25.5182 22.3022C25.3512 22.5885 24.9838 22.6851 24.6976 22.5182L21.0236 20.375L20.2646 24.789C20.2084 25.1156 19.8982 25.3348 19.5716 25.2787C19.245 25.2225 19.0258 24.9123 19.082 24.5857L19.917 19.7295L13.5999 16.0445V23.5937L18.2228 25.4428C18.5305 25.5659 18.6802 25.9151 18.5571 26.2227C18.434 26.5304 18.0848 26.6801 17.7772 26.557L13.5999 24.8861V28.9999C13.5999 29.3313 13.3313 29.5999 12.9999 29.5999C12.6686 29.5999 12.3999 29.3313 12.3999 28.9999V24.8861L8.22283 26.557C7.91516 26.6801 7.56598 26.5304 7.44291 26.2227C7.31985 25.9151 7.4695 25.5659 7.77717 25.4428L12.3999 23.5937V16.0445L6.0437 19.7524L6.3444 24.4238C6.36568 24.7544 6.11487 25.0398 5.78418 25.0611C5.45349 25.0824 5.16816 24.8315 5.14688 24.5008L4.88473 20.4284L1.30239 22.5182C1.01616 22.6851 0.648772 22.5885 0.481802 22.3022C0.314832 22.016 0.411512 21.6486 0.697742 21.4816L4.37788 19.3349L0.925818 16.4701C0.670819 16.2584 0.635653 15.8802 0.847272 15.6252C1.05889 15.3702 1.43716 15.335 1.69216 15.5466L5.48132 18.6912L11.8092 14.9999L5.15474 11.1181L1.42921 13.8891C1.16332 14.0868 0.78746 14.0316 0.5897 13.7657C0.39194 13.4998 0.44717 13.1239 0.71306 12.9262L4.02783 10.4608L0.697677 8.51817C0.411446 8.3512 0.314765 7.98381 0.481733 7.69758C0.648702 7.41135 1.01609 7.31467 1.30232 7.48164L4.66994 9.44609L5.42893 5.03204C5.48509 4.70546 5.79536 4.48624 6.12193 4.54239C6.44851 4.59855 6.66773 4.90882 6.61158 5.23539L5.77656 10.0916L12.3999 13.9553V6.4061L7.77717 4.55699C7.4695 4.43392 7.31985 4.08474 7.44291 3.77707C7.56598 3.4694 7.91516 3.31975 8.22283 3.44282L12.3999 5.11366V0.999902C12.3999 0.668532 12.6686 0.399902 12.9999 0.399902Z' fill='%233A8480'/%3E%3C/svg%3E%0A");
                    }
                }

                &.bouilloire {
                    &::before {
                        width: 23px;
                        height: 23px;
                        background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.81774 5.8999H15.1374C14.5838 4.71699 13.9774 3.70895 13.3315 2.9638C12.5343 2.04406 11.7454 1.5999 10.9776 1.5999C10.2098 1.5999 9.42091 2.04406 8.62368 2.9638C7.97778 3.70896 7.37141 4.71699 6.81774 5.8999ZM15.6578 7.0999H6.29736C4.68571 11.1016 3.72157 16.2699 3.60697 19.3999H18.3482C18.3438 19.2806 18.3382 19.1582 18.3313 19.0327C18.158 15.8644 17.2044 10.9401 15.6578 7.0999ZM17.0188 7.28863C18.3078 10.7165 19.1507 14.7989 19.444 17.8491C20.4585 16.8624 21.6435 14.9409 21.356 12.0595C21.1764 10.259 20.2646 9.07188 19.1828 8.30103C18.4759 7.79732 17.699 7.47472 17.0188 7.28863ZM19.546 19.3195C19.5551 19.5562 19.5597 19.7835 19.5597 19.9999V20.5999H2.39544V19.9999C2.39544 16.7807 3.42684 10.9575 5.2325 6.53258L3.22659 2.78292C3.07028 2.49074 3.18043 2.12716 3.47262 1.97085C3.76481 1.81454 4.12839 1.92469 4.2847 2.21688L5.84948 5.14193C6.40381 3.9959 7.02638 2.97445 7.71691 2.17781C8.62203 1.13362 9.71296 0.399902 10.9776 0.399902C12.2422 0.399902 13.3331 1.13362 14.2383 2.17781C15.0868 3.15674 15.8327 4.47513 16.4755 5.94699C17.441 6.09431 18.7307 6.50539 19.8792 7.32377C21.1948 8.26125 22.3306 9.74078 22.5501 11.9403C22.9442 15.8904 20.9195 18.3644 19.546 19.3195ZM0.399902 21.9999C0.399902 21.6685 0.668532 21.3999 0.999902 21.3999H20.9553C21.2866 21.3999 21.5553 21.6685 21.5553 21.9999C21.5553 22.3313 21.2866 22.5999 20.9553 22.5999H0.999902C0.668532 22.5999 0.399902 22.3313 0.399902 21.9999Z' fill='%233A8480'/%3E%3C/svg%3E%0A");
                    }
                }

                &.balcon {
                    &::before {
                        width: 24px;
                        height: 22px;
                        background-image: url("data:image/svg+xml,%3Csvg width='24' height='22' viewBox='0 0 24 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.25705 0.399902C2.58842 0.399902 2.85705 0.668532 2.85705 0.999902V2.21808H23.5999V21.5999H1.9999C1.11625 21.5999 0.399902 20.8836 0.399902 19.9999V18.3635C0.399902 17.5976 0.938146 16.9573 1.65705 16.8004V0.999902C1.65705 0.668532 1.92567 0.399902 2.25705 0.399902ZM2.85705 16.7635H22.3999V3.41808H2.85705V16.7635ZM22.3999 17.9635H1.9999C1.77899 17.9635 1.5999 18.1426 1.5999 18.3635V19.9999C1.5999 20.2208 1.77899 20.3999 1.9999 20.3999H22.3999V17.9635ZM15.0898 5.83881C15.3629 6.02654 15.4321 6.40009 15.2443 6.67315L10.2027 14.0065C10.0149 14.2796 9.64138 14.3487 9.36832 14.161C9.09526 13.9733 9.02608 13.5997 9.21381 13.3267L14.2555 5.99332C14.4432 5.72025 14.8168 5.65108 15.0898 5.83881ZM8.21482 7.17214C8.48788 7.35987 8.55706 7.73342 8.36933 8.00649L6.53599 10.6732C6.34826 10.9462 5.97472 11.0154 5.70165 10.8277C5.42859 10.6399 5.35941 10.2664 5.54714 9.99332L7.38048 7.32665C7.56821 7.05359 7.94176 6.98441 8.21482 7.17214ZM19.6732 8.50548C19.9462 8.69321 20.0154 9.06676 19.8277 9.33982L17.0777 13.3398C16.8899 13.6129 16.5164 13.6821 16.2433 13.4943C15.9703 13.3066 15.9011 12.933 16.0888 12.66L18.8388 8.65998C19.0265 8.38692 19.4001 8.31775 19.6732 8.50548Z' fill='%233A8480'/%3E%3C/svg%3E%0A");
                    }
                }

                &.garage {
                    &::before {
                        width: 24px;
                        height: 16px;
                        background-image: url("data:image/svg+xml,%3Csvg width='24' height='16' viewBox='0 0 24 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.9999 1.5999C2.2267 1.5999 1.5999 2.2267 1.5999 2.9999V14.3999H2.5999V3.1999H21.3999V14.3999H22.3999V2.9999C22.3999 2.2267 21.7731 1.5999 20.9999 1.5999H2.9999ZM0.399902 2.9999C0.399902 1.56396 1.56396 0.399902 2.9999 0.399902H20.9999C22.4358 0.399902 23.5999 1.56396 23.5999 2.9999V15.5999H20.1999V4.3999H3.7999V15.5999H0.399902V2.9999ZM4.7999 6.5999C4.7999 6.26853 5.06853 5.9999 5.3999 5.9999H18.5999C18.9313 5.9999 19.1999 6.26853 19.1999 6.5999C19.1999 6.93127 18.9313 7.1999 18.5999 7.1999H5.3999C5.06853 7.1999 4.7999 6.93127 4.7999 6.5999ZM4.7999 9.9999C4.7999 9.66853 5.06853 9.3999 5.3999 9.3999H18.5999C18.9313 9.3999 19.1999 9.66853 19.1999 9.9999C19.1999 10.3313 18.9313 10.5999 18.5999 10.5999H5.3999C5.06853 10.5999 4.7999 10.3313 4.7999 9.9999ZM4.7999 13.4999C4.7999 13.1685 5.06853 12.8999 5.3999 12.8999H18.5999C18.9313 12.8999 19.1999 13.1685 19.1999 13.4999C19.1999 13.8313 18.9313 14.0999 18.5999 14.0999H5.3999C5.06853 14.0999 4.7999 13.8313 4.7999 13.4999Z' fill='%233A8480'/%3E%3C/svg%3E%0A");
                    }
                }

                &.ondes {
                    &::before {
                        width: 24px;
                        height: 18px;
                        background-image: url("data:image/svg+xml,%3Csvg width='24' height='18' viewBox='0 0 24 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.5999 15.0001C1.5999 15.7208 2.26115 16.4001 3.1999 16.4001H20.7999C21.7387 16.4001 22.3999 15.7208 22.3999 15.0001V3.0001C22.3999 2.27943 21.7387 1.6001 20.7999 1.6001L3.1999 1.6001C2.26115 1.6001 1.5999 2.27943 1.5999 3.0001L1.5999 15.0001ZM3.1999 17.6001C1.7086 17.6001 0.399902 16.4886 0.399902 15.0001L0.399902 3.0001C0.399902 1.51162 1.7086 0.400097 3.1999 0.400097H20.7999C22.2912 0.400097 23.5999 1.51162 23.5999 3.0001V15.0001C23.5999 16.4886 22.2912 17.6001 20.7999 17.6001H3.1999ZM2.9999 10.6001C2.66853 10.6001 2.3999 10.3315 2.3999 10.0001V9.9901C2.3999 9.65873 2.66853 9.3901 2.9999 9.3901C3.33127 9.3901 3.5999 9.65873 3.5999 9.9901V10.0001C3.5999 10.3315 3.33127 10.6001 2.9999 10.6001ZM2.9999 8.6001C2.66853 8.6001 2.3999 8.33147 2.3999 8.0001V7.9901C2.3999 7.65873 2.66853 7.3901 2.9999 7.3901C3.33127 7.3901 3.5999 7.65873 3.5999 7.9901V8.0001C3.5999 8.33147 3.33127 8.6001 2.9999 8.6001ZM2.9999 6.6101C2.66853 6.6101 2.3999 6.34147 2.3999 6.0101V6.0001C2.3999 5.66873 2.66853 5.4001 2.9999 5.4001C3.33127 5.4001 3.5999 5.66873 3.5999 6.0001V6.0101C3.5999 6.34147 3.33127 6.6101 2.9999 6.6101ZM2.9999 4.6001C2.66853 4.6001 2.3999 4.33147 2.3999 4.0001V3.9901C2.3999 3.65873 2.66853 3.3901 2.9999 3.3901C3.33127 3.3901 3.5999 3.65873 3.5999 3.9901V4.0001C3.5999 4.33147 3.33127 4.6001 2.9999 4.6001ZM4.9999 15.6001C4.66853 15.6001 4.3999 15.3315 4.3999 15.0001L4.3999 3.0001C4.3999 2.66873 4.66853 2.4001 4.9999 2.4001L20.7999 2.4001C21.1313 2.4001 21.3999 2.66873 21.3999 3.0001V15.0001C21.3999 15.3315 21.1313 15.6001 20.7999 15.6001L4.9999 15.6001ZM5.5999 14.4001L20.1999 14.4001V3.6001L5.5999 3.6001L5.5999 14.4001Z' fill='%233A8480'/%3E%3C/svg%3E%0A");
                    }
                }

                &.linge {
                    &::before {
                        width: 22px;
                        height: 17px;
                        background-image: url("data:image/svg+xml,%3Csvg width='22' height='17' viewBox='0 0 22 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.892675 0.409684C1.2187 0.350407 1.53105 0.566649 1.59033 0.892675L1.97481 3.00732C1.98752 2.99712 2.00047 2.98652 2.01366 2.97553C2.49081 2.57782 3.04399 2.35434 3.63438 2.38783C4.2212 2.42113 4.75816 2.70334 5.21757 3.15023L5.45823 3.38433C6.15848 4.06548 6.84559 4.32946 7.47505 4.29793C8.10965 4.26614 8.80488 3.92805 9.50316 3.16391L9.55128 3.11125C9.55129 3.11124 9.55128 3.11125 9.55128 3.11125C10.0178 2.60077 10.5912 2.27501 11.2321 2.27501C11.8731 2.27501 12.4465 2.60076 12.9129 3.11125L12.9697 3.17337C13.6568 3.92526 14.3351 4.23069 14.9458 4.23069C15.5566 4.23069 16.2349 3.92526 16.922 3.17337C17.3768 2.67569 17.9352 2.35668 18.5603 2.35188C19.1099 2.34765 19.6089 2.58709 20.0309 2.97609L20.4097 0.892675C20.469 0.566649 20.7813 0.350407 21.1073 0.409684C21.4334 0.468962 21.6496 0.781312 21.5903 1.10734L18.7735 16.6H3.22653L0.964469 4.15866C0.87598 4.03337 0.835226 3.87436 0.86316 3.71123C0.866083 3.69417 0.869699 3.6774 0.873975 3.66094L0.409684 1.10734C0.350407 0.781312 0.566649 0.468962 0.892675 0.409684ZM2.20536 4.27533L4.22802 15.4H17.772L19.7846 4.33059C19.59 4.22977 19.4362 4.0846 19.3243 3.96476C19.024 3.64302 18.7643 3.55034 18.5695 3.55184C18.3741 3.55334 18.1115 3.65055 17.8078 3.98286C16.9688 4.90108 15.9911 5.43069 14.9458 5.43069C13.9006 5.43069 12.9229 4.90108 12.0839 3.98286L12.0271 3.92074C11.7126 3.57658 11.4386 3.47501 11.2321 3.47501C11.0257 3.47501 10.7516 3.57658 10.4371 3.92074L10.389 3.9734C10.389 3.9734 10.389 3.9734 10.389 3.9734C9.54707 4.89474 8.57541 5.44432 7.53508 5.49643C6.4896 5.5488 5.49372 5.09292 4.62152 4.2445L4.38085 4.0104C4.07265 3.71061 3.79522 3.59889 3.56641 3.58591C3.34116 3.57313 3.07745 3.65104 2.78198 3.89731C2.63041 4.02365 2.43487 4.16942 2.20536 4.27533Z' fill='%233A8480'/%3E%3C/svg%3E%0A");
                    }
                }

                &.wc {
                    &:before {
                        width: 25px;
                        height: 22px;
                        background-image: url("data:image/svg+xml,%3Csvg width='25' height='22' viewBox='0 0 27 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.55575 0.399902C5.05545 0.399902 3.85871 1.60051 3.0728 3.17233C2.26895 4.78003 1.78908 6.95907 1.78908 9.33324V16.8016C1.78908 18.2162 1.51517 19.0231 0.851347 20.9786C0.735349 21.3203 0.607382 21.6973 0.466954 22.1185C0.187918 22.9564 0.811417 23.8221 1.69507 23.8221H13.8878C14.7436 23.8221 15.5037 23.2745 15.7747 22.4623L15.8281 22.3023C16.3666 20.6896 16.878 19.1584 16.878 16.8016V9.33324C16.878 5.79301 17.8841 2.93283 19.335 1.41442L20.3045 0.399902H6.55575ZM2.98908 9.33324C2.98908 7.10497 3.44194 5.11734 4.14612 3.70899C4.86824 2.26475 5.75483 1.5999 6.55575 1.5999H17.6616L15.678 15.0301V16.8016C15.678 18.9619 15.2191 20.3365 14.6828 21.9434L14.6363 22.0827C14.5287 22.405 14.2272 22.6221 13.8878 22.6221H1.69507C1.63088 22.6221 1.58514 22.5592 1.60542 22.4978C1.74036 22.0931 1.86569 21.7251 1.98128 21.3857C2.64606 19.4337 2.98908 18.4265 2.98908 16.8016V9.33324Z' fill='%233A8480'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.8335 0.399902C20.3332 0.399902 19.1365 1.60051 18.3506 3.17233C17.5467 4.78003 17.0669 6.95907 17.0669 9.33324C17.0669 11.7074 17.5467 13.8864 18.3506 15.4941C19.1365 17.066 20.3332 18.2666 21.8335 18.2666C23.3338 18.2666 24.5306 17.066 25.3165 15.4941C26.1203 13.8864 26.6002 11.7074 26.6002 9.33324C26.6002 6.95907 26.1203 4.78003 25.3165 3.17233C24.5306 1.60051 23.3338 0.399902 21.8335 0.399902ZM19.4239 3.70899C18.7197 5.11734 18.2669 7.10497 18.2669 9.33324C18.2669 11.5615 18.7197 13.5491 19.4239 14.9575C20.146 16.4017 21.0326 17.0666 21.8335 17.0666C22.6344 17.0666 23.521 16.4017 24.2432 14.9575C24.9473 13.5491 25.4002 11.5615 25.4002 9.33324C25.4002 7.10497 24.9473 5.11734 24.2432 3.70899C23.521 2.26475 22.6344 1.5999 21.8335 1.5999C21.0326 1.5999 20.146 2.26475 19.4239 3.70899Z' fill='%233A8480'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.16686 8.73324C4.45181 8.73324 3.87242 9.31263 3.87242 10.0277C3.87242 10.7427 4.45181 11.3221 5.16686 11.3221C5.88191 11.3221 6.46131 10.7427 6.46131 10.0277C6.46131 9.31263 5.88191 8.73324 5.16686 8.73324ZM5.16686 9.93324C5.11455 9.93324 5.07242 9.97537 5.07242 10.0277C5.07242 10.08 5.11455 10.1221 5.16686 10.1221C5.21917 10.1221 5.26131 10.08 5.26131 10.0277C5.26131 9.97537 5.21917 9.93324 5.16686 9.93324Z' fill='%233A8480'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.50011 8.73324C8.78506 8.73324 8.20566 9.31263 8.20566 10.0277C8.20566 10.7427 8.78506 11.3221 9.50011 11.3221C10.2152 11.3221 10.7946 10.7427 10.7946 10.0277C10.7946 9.31263 10.2152 8.73324 9.50011 8.73324ZM9.50011 9.93324C9.4478 9.93324 9.40566 9.97537 9.40566 10.0277C9.40566 10.08 9.4478 10.1221 9.50011 10.1221C9.55242 10.1221 9.59455 10.08 9.59455 10.0277C9.59455 9.97537 9.55242 9.93324 9.50011 9.93324Z' fill='%233A8480'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.5002 8.73324C12.7851 8.73324 12.2057 9.31263 12.2057 10.0277C12.2057 10.7427 12.7851 11.3221 13.5002 11.3221C14.2152 11.3221 14.7946 10.7427 14.7946 10.0277C14.7946 9.31263 14.2152 8.73324 13.5002 8.73324ZM13.5002 9.93324C13.4479 9.93324 13.4057 9.97537 13.4057 10.0277C13.4057 10.08 13.4479 10.1221 13.5002 10.1221C13.5525 10.1221 13.5946 10.08 13.5946 10.0277C13.5946 9.97537 13.5525 9.93324 13.5002 9.93324Z' fill='%233A8480'/%3E%3Cpath d='M17.6616 1.5999C16.4082 3.48337 15.678 6.23161 15.678 9.33324V15.0301L17.6616 1.5999Z' fill='%233A8480'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.8335 5.95546C21.1004 5.95546 20.5981 6.5342 20.3148 7.10064C20.0136 7.70297 19.8446 8.49313 19.8446 9.33324C19.8446 10.1733 20.0136 10.9635 20.3148 11.5658C20.5981 12.1323 21.1004 12.711 21.8335 12.711C22.5667 12.711 23.069 12.1323 23.3522 11.5658C23.6534 10.9635 23.8224 10.1733 23.8224 9.33324C23.8224 8.49313 23.6534 7.70297 23.3522 7.10064C23.069 6.5342 22.5667 5.95546 21.8335 5.95546ZM21.3881 7.63734C21.1866 8.04032 21.0446 8.63905 21.0446 9.33324C21.0446 10.0274 21.1866 10.6261 21.3881 11.0291C21.6076 11.468 21.7997 11.511 21.8335 11.511C21.8673 11.511 22.0595 11.468 22.2789 11.0291C22.4804 10.6261 22.6224 10.0274 22.6224 9.33324C22.6224 8.63905 22.4804 8.04032 22.2789 7.63734C22.0595 7.19846 21.8673 7.15546 21.8335 7.15546C21.7997 7.15546 21.6076 7.19846 21.3881 7.63734Z' fill='%233A8480'/%3E%3C/svg%3E%0A");
                    }
                }

                &.vaisselle {
                    &::before {
                        width: 25px;
                        height: 26px;
                        background-image: url("data:image/svg+xml,%3Csvg width='25' height='26' viewBox='0 0 25 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.9999 5.14513C5.80843 5.14513 1.5999 9.35365 1.5999 14.5451C1.5999 19.7366 5.80843 23.9451 10.9999 23.9451C16.1914 23.9451 20.3999 19.7366 20.3999 14.5451C20.3999 9.35365 16.1914 5.14513 10.9999 5.14513ZM0.399902 14.5451C0.399902 8.69091 5.14568 3.94513 10.9999 3.94513C16.8541 3.94513 21.5999 8.69091 21.5999 14.5451C21.5999 20.3993 16.8541 25.1451 10.9999 25.1451C5.14568 25.1451 0.399902 20.3993 0.399902 14.5451Z' fill='%233A8480'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.8524 0.59113C18.1836 0.601672 18.4436 0.878711 18.4331 1.20991L18.3567 3.6087C18.3462 3.9399 18.0691 4.19985 17.7379 4.18931C17.4067 4.17877 17.1468 3.90173 17.1573 3.57052L17.2337 1.17174C17.2442 0.840535 17.5212 0.580588 17.8524 0.59113ZM22.4548 2.67233C22.6816 2.91398 22.6695 3.29369 22.4278 3.52043L20.6767 5.16355C20.435 5.39029 20.0553 5.37821 19.8286 5.13656C19.6018 4.89491 19.6139 4.5152 19.8556 4.28846L21.6067 2.64534C21.8484 2.41859 22.2281 2.43068 22.4548 2.67233ZM11.0458 6.97782C11.0564 6.64662 11.3334 6.38667 11.6646 6.39721L14.0634 6.47357C14.3946 6.48411 14.6545 6.76115 14.644 7.09235C14.6335 7.42355 14.3564 7.6835 14.0252 7.67296L11.6264 7.59661C11.2952 7.58607 11.0353 7.30903 11.0458 6.97782ZM20.641 7.28323C20.6515 6.95203 20.9285 6.69208 21.2597 6.70262L23.6585 6.77897C23.9897 6.78951 24.2497 7.06655 24.2391 7.39776C24.2286 7.72896 23.9516 7.98891 23.6204 7.97836L21.2216 7.90201C20.8904 7.89147 20.6304 7.61443 20.641 7.28323ZM15.4564 9.23901C15.6831 9.48066 15.671 9.86037 15.4294 10.0871L13.6782 11.7302C13.4366 11.957 13.0569 11.9449 12.8301 11.7032C12.6034 11.4616 12.6155 11.0819 12.8571 10.8551L14.6083 9.21202C14.8499 8.98528 15.2296 8.99736 15.4564 9.23901ZM17.547 10.1863C17.8782 10.1968 18.1382 10.4739 18.1276 10.8051L18.0513 13.2038C18.0408 13.535 17.7637 13.795 17.4325 13.7844C17.1013 13.7739 16.8414 13.4969 16.8519 13.1657L16.9283 10.7669C16.9388 10.4357 17.2158 10.1757 17.547 10.1863Z' fill='%233A8480'/%3E%3C/svg%3E%0A");
                    }
                }

                &.télé {
                    &::before {
                        width: 22px;
                        height: 19px;
                        background-image: url("data:image/svg+xml,%3Csvg width='22' height='19' viewBox='0 0 22 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.9999 1.5999C2.2267 1.5999 1.5999 2.2267 1.5999 2.9999V12.9999C1.5999 13.7731 2.2267 14.3999 2.9999 14.3999H18.9999C19.7731 14.3999 20.3999 13.7731 20.3999 12.9999V2.9999C20.3999 2.2267 19.7731 1.5999 18.9999 1.5999H2.9999ZM11.5999 15.5999H18.9999C20.4358 15.5999 21.5999 14.4358 21.5999 12.9999V2.9999C21.5999 1.56396 20.4358 0.399902 18.9999 0.399902H2.9999C1.56396 0.399902 0.399902 1.56396 0.399902 2.9999V12.9999C0.399902 14.4358 1.56396 15.5999 2.9999 15.5999H10.3999V16.8999H2.9999C2.66853 16.8999 2.3999 17.1685 2.3999 17.4999C2.3999 17.8313 2.66853 18.0999 2.9999 18.0999H18.9999C19.3313 18.0999 19.5999 17.8313 19.5999 17.4999C19.5999 17.1685 19.3313 16.8999 18.9999 16.8999H11.5999V15.5999Z' fill='%233A8480'/%3E%3C/svg%3E%0A");
                    }
                }

                &.internet {
                    &::before {
                        width: 24px;
                        height: 24px;
                        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.575638 0.575638C0.809953 0.341324 1.18985 0.341324 1.42417 0.575638L6.53512 5.68659C6.54141 5.69261 6.54757 5.69878 6.55362 5.70509L10.5244 9.67582C10.5739 9.71211 10.618 9.75599 10.6546 9.8061L23.4242 22.5756C23.6585 22.81 23.6585 23.1899 23.4242 23.4242C23.1899 23.6585 22.81 23.6585 22.5756 23.4242L15.7807 16.6292C15.5837 16.7431 15.3301 16.7394 15.1324 16.599C14.2188 15.9499 13.1257 15.6011 12.0049 15.6011C10.8841 15.6011 9.79111 15.9499 8.87743 16.599C8.6073 16.7909 8.23273 16.7275 8.04081 16.4574C7.84889 16.1872 7.91229 15.8127 8.18243 15.6207C9.29915 14.8274 10.6351 14.4011 12.0049 14.4011C12.6162 14.4011 13.2207 14.486 13.8019 14.6505L9.96085 10.8094C8.27791 11.1509 6.70474 11.9066 5.38476 13.0102C5.13054 13.2228 4.75215 13.189 4.5396 12.9348C4.32704 12.6806 4.36082 12.3022 4.61504 12.0896C5.88842 11.025 7.37294 10.2504 8.96521 9.81374L5.97777 6.8263C4.45942 7.47041 3.0543 8.35599 1.81726 9.44945C1.56897 9.66891 1.18979 9.64555 0.970333 9.39727C0.750872 9.14899 0.774234 8.76981 1.02252 8.55035C2.23587 7.47783 3.59916 6.59077 5.06789 5.91642L0.575638 1.42417C0.341324 1.18985 0.341324 0.809953 0.575638 0.575638ZM16.8575 6.38601C14.8946 5.73281 12.8202 5.48179 10.7581 5.64795C10.4278 5.67456 10.1385 5.42838 10.1119 5.09808C10.0852 4.76778 10.3314 4.47844 10.6617 4.45182C12.8845 4.27272 15.1205 4.54329 17.2364 5.2474C19.3523 5.9515 21.3046 7.0747 22.9769 8.54995C23.2254 8.76917 23.2491 9.14833 23.0299 9.39682C22.8106 9.64531 22.4315 9.66904 22.183 9.44982C20.6316 8.08122 18.8204 7.03922 16.8575 6.38601ZM16.1807 10.7968C16.326 10.499 16.6852 10.3754 16.983 10.5207C17.8471 10.9424 18.655 11.4704 19.3881 12.0925C19.6407 12.3069 19.6718 12.6855 19.4574 12.9382C19.243 13.1908 18.8643 13.2219 18.6117 13.0075C17.9548 12.4501 17.2309 11.977 16.4567 11.5992C16.1589 11.4538 16.0353 11.0946 16.1807 10.7968ZM11.3999 19.9999C11.3999 19.6685 11.6685 19.3999 11.9999 19.3999H12.0099C12.3413 19.3999 12.6099 19.6685 12.6099 19.9999C12.6099 20.3313 12.3413 20.5999 12.0099 20.5999H11.9999C11.6685 20.5999 11.3999 20.3313 11.3999 19.9999Z' fill='%233A8480'/%3E%3C/svg%3E%0A");
                    }
                }

                &.four {
                    &::before {
                        background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.12914 0.999902C2.12914 0.668532 2.39777 0.399902 2.72914 0.399902H9.76857C10.0999 0.399902 10.3686 0.668532 10.3686 0.999902V1.72812H11.6312V0.999902C11.6312 0.668532 11.8999 0.399902 12.2312 0.399902H19.2707C19.602 0.399902 19.8707 0.668532 19.8707 0.999902V1.72812H20.9999C21.3313 1.72812 21.5999 1.99675 21.5999 2.32812V19.6717C21.5999 20.0031 21.3313 20.2717 20.9999 20.2717H19.8707V20.9999C19.8707 21.3313 19.602 21.5999 19.2707 21.5999C18.9393 21.5999 18.6707 21.3313 18.6707 20.9999V20.2717H3.32914V20.9999C3.32914 21.3313 3.06052 21.5999 2.72914 21.5999C2.39777 21.5999 2.12914 21.3313 2.12914 20.9999V20.2717H0.999902C0.668532 20.2717 0.399902 20.0031 0.399902 19.6717V2.32812C0.399902 1.99675 0.668532 1.72812 0.999902 1.72812H2.12914V0.999902ZM2.72914 2.92812L1.5999 2.92812V7.05177L20.3999 7.05177V2.92812H19.271H12.2316H9.76896L2.72914 2.92812ZM9.16857 1.72812H3.32914V1.5999H9.16857V1.72812ZM12.8312 1.72812H18.6707V1.5999H12.8312V1.72812ZM20.3999 8.25177L1.5999 8.25177V19.0717H2.72762C2.72812 19.0717 2.72863 19.0717 2.72914 19.0717C2.72965 19.0717 2.73016 19.0717 2.73067 19.0717H19.2691C19.2696 19.0717 19.2702 19.0717 19.2707 19.0717C19.2712 19.0717 19.2717 19.0717 19.2722 19.0717H20.3999V8.25177ZM3.873 4.44609C3.57323 4.44609 3.32914 4.69018 3.32914 4.98994C3.32914 5.2906 3.57277 5.5338 3.873 5.5338C4.17323 5.5338 4.41686 5.2906 4.41686 4.98994C4.41686 4.68929 4.17323 4.44609 3.873 4.44609ZM2.12914 4.98994C2.12914 4.02743 2.91049 3.24609 3.873 3.24609C4.83505 3.24609 5.61686 4.02563 5.61686 4.98994C5.61686 5.95426 4.83505 6.7338 3.873 6.7338C2.91095 6.7338 2.12914 5.95426 2.12914 4.98994ZM8.62472 4.44609C8.32495 4.44609 8.08086 4.69018 8.08086 4.98994C8.08086 5.2906 8.32449 5.5338 8.62472 5.5338C8.92495 5.5338 9.16857 5.2906 9.16857 4.98994C9.16857 4.68929 8.92495 4.44609 8.62472 4.44609ZM6.88086 4.98994C6.88086 4.02743 7.66221 3.24609 8.62472 3.24609C9.58677 3.24609 10.3686 4.02563 10.3686 4.98994C10.3686 5.95426 9.58677 6.7338 8.62472 6.7338C7.66267 6.7338 6.88086 5.95426 6.88086 4.98994ZM13.3751 4.44609C13.0753 4.44609 12.8312 4.69018 12.8312 4.98994C12.8312 5.2906 13.0749 5.5338 13.3751 5.5338C13.6753 5.5338 13.9189 5.2906 13.9189 4.98994C13.9189 4.68883 13.6762 4.44609 13.3751 4.44609ZM11.6312 4.98994C11.6312 4.02743 12.4126 3.24609 13.3751 3.24609C14.3389 3.24609 15.1189 4.02609 15.1189 4.98994C15.1189 5.95426 14.3371 6.7338 13.3751 6.7338C12.413 6.7338 11.6312 5.95426 11.6312 4.98994ZM18.1268 4.44609C17.827 4.44609 17.5829 4.69018 17.5829 4.98994C17.5829 5.2906 17.8266 5.5338 18.1268 5.5338C18.427 5.5338 18.6707 5.2906 18.6707 4.98994C18.6707 4.68929 18.427 4.44609 18.1268 4.44609ZM16.3829 4.98994C16.3829 4.02743 17.1643 3.24609 18.1268 3.24609C19.0889 3.24609 19.8707 4.02563 19.8707 4.98994C19.8707 5.95426 19.0889 6.7338 18.1268 6.7338C17.1648 6.7338 16.3829 5.95426 16.3829 4.98994ZM2.12914 9.28277C2.12914 8.9514 2.39777 8.68277 2.72914 8.68277H19.2693C19.6007 8.68277 19.8693 8.9514 19.8693 9.28277V17.9236C19.8693 18.255 19.6007 18.5236 19.2693 18.5236H2.72914C2.39777 18.5236 2.12914 18.255 2.12914 17.9236V9.28277ZM3.32914 9.88277V17.3236H18.6693V9.88277H3.32914Z' fill='%233A8480'/%3E%3C/svg%3E%0A");
                        width: 22px;
                        height: 22px;
                    }
                }

                &.porte {
                    &:before {
                        width: 18px;
                        height: 22px;
                        background-image: url("data:image/svg+xml,%3Csvg width='18' height='22' viewBox='0 0 18 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.9999 1.5999C7.87984 1.5999 6.81548 2.22001 6.1694 3.02456C5.51648 3.83761 5.15546 4.77278 5.15546 6.00424V9.40306H12.8443V6.00424C12.8443 5.34996 12.7913 4.84834 12.6506 4.3966C12.5118 3.95091 12.2775 3.52146 11.8729 3.03046C11.0854 2.07486 10.1351 1.5999 8.9999 1.5999ZM14.0443 9.40306V6.00424C14.0443 5.2909 13.9876 4.65418 13.7963 4.03981C13.6031 3.4194 13.2832 2.85498 12.7989 2.26731C11.8087 1.06566 10.5314 0.399902 8.9999 0.399902C7.4533 0.399902 6.06515 1.23787 5.23374 2.27319C4.40916 3.30001 3.95546 4.50045 3.95546 6.00424V9.40306H2.77768C1.40014 9.40306 0.399902 10.6351 0.399902 12.0025V19.0005C0.399902 20.3679 1.40014 21.5999 2.77768 21.5999H15.2221C16.5997 21.5999 17.5999 20.3679 17.5999 19.0005V12.0025C17.5999 10.6351 16.5997 9.40306 15.2221 9.40306H14.0443ZM4.54916 10.6031H2.77768C2.19154 10.6031 1.5999 11.1614 1.5999 12.0025V19.0005C1.5999 19.8416 2.19154 20.3999 2.77768 20.3999H15.2221C15.8083 20.3999 16.3999 19.8416 16.3999 19.0005V12.0025C16.3999 11.1614 15.8083 10.6031 15.2221 10.6031H4.56176C4.55966 10.6031 4.55756 10.6031 4.55546 10.6031C4.55336 10.6031 4.55126 10.6031 4.54916 10.6031Z' fill='%233A8480'/%3E%3C/svg%3E%0A");
                    }
                }
            }
        }
    }

    .title {
        margin-bottom: 30px;
    }

    .description {
        max-width: 500px;

        p {
            font-style: italic;
        }
    }

    .wrapper-right {
        width: 50%;
        padding-left: 20px;

        figure {
            position: relative;
            z-index: 55;
        }

        .item {
            overflow: hidden;
            &#item-6 {
                max-width: 80%;
                height: auto;
                margin: 0 auto;
                transform: translate(0, 0) rotate(-9deg);
            }

            &#item-7 {
                position: absolute;
                max-width: 45%;
                height: auto;
                right: 0;
                top: 80%;
                transform: translate(-0%, -50%) rotate(12deg);
            }
        }
    }

    @media all and (max-width: 768px) {
        padding: 50px 0;

        .wrapper {
            flex-direction: column;
        }

        .wrapper-left {
            width: 100%;
            padding-right: 0;
            padding-bottom: 50px;
            margin-bottom: 60px;
        }

        .wrapper-right {
            width: 100%;
            padding-left: 0;
        }

        .title {
            * {
                font-size: 35px;
            }
        }

        .caracteristique {
            flex-wrap: wrap;
            ul {
                width: 100%;
                margin: 0;
                flex-wrap: wrap;
                display: flex;
                flex-direction: row;
                li {
                    width: 50%;
                    margin-bottom: 10px;
                    span {
                        font-size: 18px;
                        padding-left: 30px;
                        font-style: italic;
                        line-height: 100%;
                    }
                }
            }
        }
    }
}