body {
    .body {
        height: auto;
        min-height: 100%;
        overflow: hidden;
        position: relative;
        width: 100%;
        z-index: 0;
    }
    &.black {
        .main-logo {
            a {
                span:first-child {
                    color: $color2;
                    transition: color ease-in-out .5s;
                }

                span:last-child {
                    color: $color2;
                    transition: color ease-in-out .5s;
                }
            }
        }
        .station {
            color: $color2;
            transition: color ease-in-out .5s;
        }
        .btn-menu{
            color: $color2;
        }
    }
}

main {
    height: auto;
    min-height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: var(--footer);
    margin-top: 100vh;
    pointer-events: none;
    .inner-main {
        margin-top: 100vh;
        overflow: visible;
        z-index: 2;
        position: relative;
        pointer-events: none;
    }
}

a {
    outline: 0;
    text-decoration: none;
}

body {
    z-index: 1;
    width: 100%;
    .btn-menu{
        pointer-events: all;
        border: none;
        outline: 0;
        background: none;
        text-transform: uppercase;
        position: fixed;
        transition: color ease-in-out .5s;
        display: inline-block;
        z-index: 999;
        right: 6.5rem;
        top: 3rem;
        font-size: 12px;
        font-weight: 550;
        line-height: 16px;
        color: white;
        font-family: $font2;
    }
    .main-logo {
        z-index: 999;
        left: 50%;
        position: fixed;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        text-align: center;

        a {
            color: white;
            display: flex;
            flex-direction: column;
            span:first-child {
                font-family: $font1;
                font-size: 70px;
                font-weight: 400;
                line-height: 110%;
                letter-spacing: 0em;
                text-align: center;
                transform: translate(0, 30px);
                opacity: 0;
                transition: color ease-in-out .5s;
            }

            span:last-child {
                font-family: $font1;
                font-size: 30px;
                font-weight: 500;
                transform: translate(0, 25px);
                line-height: 110%;
                letter-spacing: 0em;
                text-align: center;
                opacity: 0;
                transition: color ease-in-out .5s;
            }
        }
    }

    .station {
        left: 6.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-transform: uppercase;
        position: fixed;
        font-size: 12px;
        font-weight: 550;
        line-height: 16px;
        opacity: 0;
        z-index: 999;
        color: white;
        top: 3rem;
        font-family: $font2;
        transition: color ease-in-out .5s;

        .lieu {
            font-size: 12px;
            font-weight: 550;
            line-height: 16px;
            
        }

        .time{
            span {
                transform: translate3d(0, -10px, 0);
                font-size: 12px;
                font-weight: 700;
                line-height: 16px;
                padding-left: 0.5rem;
                padding-right: 0.5rem;
            }
        }

        .temperature {
            span {
                transform: translate3d(0, -10px, 0);
                font-size: 12px;
                font-weight: 700;
                line-height: 16px;
                padding-left: 0.5rem;
                padding-right: 0.5rem;
            }
        }
    }
}


.main-page {
    overflow: hidden;
    position: relative;
    z-index: 2;
}