body {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &.black {
        .main-logo {
            a {
                span:first-child {
                    color: $color2;
                    transition: color ease-in-out .5s;
                }

                span:last-child {
                    color: $color2;
                    transition: color ease-in-out .5s;
                }
            }
        }

        .station {
            color: $color2;
            transition: color ease-in-out .5s;
        }

        .btn-menu {
            color: $color2;

            .menu-bar {
                span {
                    background-color: $color2;
                }
            }
        }


    }

    &.fixed {
        .main-logo {
            top: 50px;
            a {
                div.sup { 
                    font-size: 30px;
                }

                div.sub { 
                    font-size: 18px;
                }
            }
        }
    }
}

main {
    height: auto;
    min-height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: var(--footer);
    pointer-events: none;

    &#home {
        margin-top: 100vh;
    }
}

a {
    outline: 0;
    text-decoration: none;
}

body {
    z-index: 1;
    width: 100%;

    .btn-menu {
        pointer-events: all;
        cursor: pointer;
        border: none;
        outline: 0;
        background: none;
        text-transform: uppercase;
        position: fixed;
        transition: color ease-in-out .5s;
        display: inline-flex;
        align-items: center;
        z-index: 999;
        right: 6.5rem;
        top: 3rem;
        font-size: 12px;
        font-weight: 550;
        line-height: 16px;
        color: white;
        font-family: $font2;

        .menu-text {
            position: relative;
            width: 40px;
            height: 16px;
            overflow: hidden;

            &::after {
                text-align: right;
                content: attr(data-menu);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: transform .5s ease-in-out;
            }

            &::before {
                text-align: right;
                content: attr(data-close);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transform: translateY(100%);
                transition: transform .5s ease-in-out;
            }
        }

        .menu-bar {
            width: 15px;
            height: 10px;
            position: relative;
            margin-left: 5px;

            span {
                background: #ddd;
                height: 1px;
                display: block;
                transition: all .5s ease-in-out;
                position: absolute;

                &:nth-child(1) {
                    width: 12px;
                    top: 0;
                }

                &:nth-child(2) {
                    width: 9px;
                    top: 50%;
                    transform: translateY(-50%);
                }

                &:nth-child(3) {
                    width: 15px;
                    top: calc(100% - 1px);
                }
            }

        }

        &:hover {
            .menu-bar {
                span {
                    &:nth-child(1) {
                        width: 9px;
                    }

                    &:nth-child(2) {
                        width: 15px;
                    }

                    &:nth-child(3) {
                        width: 5px;
                    }
                }

            }
        }

        &.on {

            //switch to close text
            .menu-text {
                &::after {
                    transform: translateY(-100%);
                }

                &::before {
                    transform: translateY(0%);
                }
            }

            //switch 3 bar to close cross with 2 bars
            .menu-bar {
                span {
                    &:nth-child(1) {
                        width: 15px;
                        top: 50%;
                        height: 1.5px;
                        transform: translateY(-50%) rotate(-135deg);
                    }

                    &:nth-child(2) {
                        width: 0px;
                    }

                    &:nth-child(3) {
                        width: 15px;
                        top: 50%;
                        height: 1.5px;
                        transform: translateY(-50%) rotate(135deg);
                    }
                }

            }
        }

        @media all and (max-width: 768px) {
            right: 2rem;
            top: 2rem;
        }
    }



    .main-logo {
        z-index: 999;
        left: 50%;
        position: fixed;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        text-align: center;

        a {
            color: white;
            display: flex;
            flex-direction: column;

            div.sup {
                font-size: 70px;
                line-height: 110%;
                overflow: hidden;
                font-weight: 400;

                .char {
                    display: inline-block;
                    font-family: $font1;
                    letter-spacing: 0em;
                    text-align: center;
                    transform: translate(0, 100%);
                    transition: color ease-in-out .5s;
                }
            }

            div.sub {
                overflow: hidden;
                font-size: 30px;
                line-height: 110%;
                font-weight: 500;

                .char {
                    display: inline-block;
                    font-family: $font1;
                    transform: translate(0, 100%);
                    letter-spacing: 0em;
                    text-align: center;
                    transition: color ease-in-out .5s;
                }
            }
        }
    }

    .station {
        left: 6.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-transform: uppercase;
        position: fixed;
        font-size: 12px;
        font-weight: 550;
        line-height: 16px;
        opacity: 0;
        z-index: 999;
        color: white;
        top: 3rem;
        font-family: $font2;
        transition: color ease-in-out .5s;

        .lieu {
            font-size: 12px;
            font-weight: 550;
            line-height: 16px;

        }

        .time {
            span {
                transform: translate3d(0, -10px, 0);
                font-size: 12px;
                font-weight: 700;
                line-height: 16px;
                padding-left: 0.5rem;
                padding-right: 0.5rem;
            }
        }

        .temperature {
            span {
                transform: translate3d(0, -10px, 0);
                font-size: 12px;
                font-weight: 700;
                line-height: 16px;
                padding-left: 0.5rem;
                padding-right: 0.5rem;
            }
        }
        @media all and (max-width: 768px) {
            top: 2rem;
            left: 2rem;
        }
        @media all and (max-width: 576px) {
            
            .temperature{
                display: none;
            }
            .lieu{
                display: none;
            }
            .time {
                span {
                    display: none;
                }
            }
        }
    }
}


.main-page {
    overflow: hidden;
    position: relative;
    z-index: 2;
}