main#admin-dashboard {
    padding: 100px 0px;
    height: 100vh;
    pointer-events: all;

    .container {
        width: 100%;
        max-width: 1300px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    .wrapper-top {
        width: 100%;

        .title {
            margin-bottom: 30px;
            position: relative;
            width: 100%;

            h3 {
                background-color: white;
                position: relative;
                color: $color2;
                z-index: 2;
                width: fit-content;
                padding-right: 20px;
            }

            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                background-color: $color2;
            }
        }

    }

    .pending,
    .pending-confirmation,
    .pending-verification.pending-payment {
        color: #FF9F46;
    }

    .Validated,
    .validated {
        color: #86D985;
    }

    .cancelled,
    .Cancelled {
        color: #FF4D4F;
    }

    .Finished,
    .finished {
        color: $color1;
    }

    .wrapper-dashboard {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .key-number {
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 15px;
        height: 200px;
        border-radius: 100px;
        padding: 10px 30px;
        border: solid 1px $color2;
        margin-bottom: 30px;

        .number {
            font-family: $font1;
            text-align: center;
            color: $color2;
            font-weight: 400;
            font-size: 60px;
            line-height: 150%;
        }

        .key {
            font-weight: 400;
            font-size: 20px;
            line-height: 150%;
            text-align: center;
            font-family: $font3;
            color: rgba(34, 40, 40, 0.5);
        }
    }

    .wrapper-numbers {
        width: 40%;

        margin: 0 -15px;
        margin-right: 30px;
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
    }

    .wrapper-calendar {
        width: 60%;
        border-left: solid 1px $color2;
        input{
            display: none;
        }
    }

    .calendar-legend{
        ul{
            display: flex;
            justify-content: center;
            li{
                padding-left: 20px;
                margin: 0 10px;
                font-size: 15px;
                position: relative;
                &.locked{
                    &::before{
                        border-radius: 50%;
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 10px;
                        height: 10px;
                        background-color: orange;
                    }
                }
                &.reserved{
                    &::before{
                        border-radius: 50%;
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 10px;
                        height: 10px;
                        background-color: #e63757;
                    }
                }
                
            }
        }
    }

    .wrapper-reservation {
        height: 100%;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .title {
            pointer-events: all;
            position: relative;
            width: 100%;
            text-align: center;

            h4 {
                background-color: white;
                position: relative;
                color: $color2;
                z-index: 2;
                width: fit-content;
                margin: 0 auto;
                text-align: center;
                padding: 0 20px;
            }

            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                background-color: $color2;
            }
        }
    }

    table {
        pointer-events: all;
        width: 100%;
        text-align: left;

        thead {
            th {
                padding: 10px 0px;
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                font-family: $font3;
                line-height: 150%;
                color: rgba(34, 40, 40, 0.5);
            }
        }

        tbody {
            td {
                border-top: 1px solid #E5E5E5;
                padding: 10px 0px;
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                font-family: $font3;
                line-height: 150%;
                color: $color2;

                a {
                    color: $color2;
                    transition: color .3s ease-in-out;

                    &:hover {
                        color: $color1;
                    }
                }
            }
        }
    }
}