.btn {
    display: inline-block;
    text-align: center;
    white-space: normal;
    vertical-align: middle;
    border: 1px solid $color1;
    border-radius: 500px;
    padding: 20px 60px;
    width: fit-content;
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    
    color: $color1;
    &:visited,&:focus{
        color: $color1; 
    }
    &.ghost{
        color: white;
        border: 1px solid white;
        &:visited,&:focus{
            color: white; 
        }
    }
}