/**
 * Variables
*/

/* Typography */
$font1: 'Cinzel', serif;
$font2: 'Poppins', sans-serif;
$font3: 'Jost', sans-serif;
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */

$color1:#3A8480;
$color2:#222828;

/* Components */
